src/extras
src/.env

/terraform/*.tfstate            
/terraform/.terraform/*         
/terraform/.terraform.lock.hcl
/terraform/*.tfstate.backup      
/terraform/terraform.tfvars     
terraform.tfvars.json                 

docs/mainproject.md
docs/arch-flow.md
docs/query.txt
docs/snapflow_plan.md
docs/snapflow.md

/src/tmp